a.button {
    background-color: lightgray;
    text-decoration-color: black;
    border: double;
}

img.FrontImage {
    width: 10em;
    max-height: 20em;
}

p.PersonInfo{
    max-width: 40em;
    height: 14em;
    padding: 1em;
    padding-top: 2em;
}

h1 {
    left: 0em;
    position: relative;
    border-bottom: double;
}

td.FirstRow{
    text-decoration: underline;
}

.floatleft {
    float: left;
    margin: 1em;
}


