header {
    border-bottom: solid 3px black;
    padding-left: 1em;
    position: absolute;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(255,255,255,1) 30%, rgba(133,145,148,1) 40%, rgba(2,0,36,1) 100%);
    
}

h1 {
    font-size: 2.5em;
}

.headerpicture {
    width: 2em;
    float: left;
    padding-right: 0.5em;
}

body {
    margin: 0px;
}

.landingpagefrontphoto {
    width: 100%;
    position: relative;
    top: 6em;
    object-fit: cover;
}

.flexcontainer{
    display: flex;
    flex-direction: row;
    padding-bottom: 5em;
    padding-top: 10em;
}

.flexcontainer > div {
    flex: 1 1 15em;
    font-family: sans-serif;
    text-emphasis: none;
    padding: 1em;
    font-size: 4em;
    text-align: center;
}

.flexcontainer  a {
    border: solid 3px black;
    background-color: lightgray;
    font-size: 0.7em;
    border-radius: 10px;
    padding: 0.5em;
    padding-left: 6vw;
    padding-right: 6vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
    border-top: 3px solid grey;
    background-color: lightgray;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color:black;
}

html {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


@media (hover: hover) {
    .flexcontainer a:hover {
        background-color: gray;
    }

}

.footerelementcontainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 2em;
    padding-left: 5em;
    padding-right: 5em;
}

.footerelementcontainer > :nth-child(2) {
    text-align: right;
}

@media (max-width: 500px){
    .footerelementcontainer > div > p {
        text-align: center;
    }

    .footerelementcontainer {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1100px){
    body {
        font-size: 0.5em;
    }
}

@media (max-width: 600px){
    body {
        font-size: 0.3em;
    }

    .flexcontainer{
        display: flex;
        flex-direction: column;
    }
    
    .flexcontainer > div {
        flex: 1 1 auto;
        font-family: sans-serif;
        text-emphasis: none;
        text-align: center;
        padding-bottom: 1.5EM;
        padding-top: 1.5em;
    }
    
    .flexcontainer  a {
        border: solid 3px black;
        background-color: lightgray;
    }
}