body {
    background: #000000;
    font-family: 'Pathway Gothic One', sans-serif;
    background-image: url('Assets/star-wars-backgrounds-12-1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.character-information-presenter::-webkit-scrollbar-thumb {
    background-color: #ffe81f;
    outline: 1px solid #ffe81f;
}

.character-information-presenter::-webkit-scrollbar {
    width: 2em;
}

h1 {
    font-size: 5em;
    width: 60vw;
    text-align: center;
    position: relative;
    left: 20vw;
    color: #ffe81f ;
    
}
h2 {
    color: #ffe81f ;
    text-align: center;
    margin-top: -2em;
    padding-bottom: 1em;
}

.layout-grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    row-gap: 1em;
    column-gap: 1em;
}

.character-information-presenter {
    background: #000000;
    opacity: 80%;
    border: 5px solid #ffe81f;
    border-radius: 15px;
    text-align: center;
    grid-area: 1 / 2 ;
    height: 40vh;
    text-align: left;
    overflow: auto;
}

.character-information-presenter li {
    font-size: 2em;
    color: #ffe81f ;
    margin-left: 1em;
    margin-top: 1em;
    list-style-type: none;
}

.text-input-container {
    text-align: center;
    grid-area: 2 / 2 ;
}

.text-input {
    font-size: 2em;
    border: solid 5px #ffe81f;
    border-radius: 15px;
    background: #000000;
    opacity: 80%;
    color: #ffe81f;
    font-family: 'Pathway Gothic One', sans-serif;
    padding: 0.3em;
}

.text-input:nth-of-type(2){
    margin-left: 2em;
}

.buttons-container {
    font-size: 0.5em;
    text-align: center;
    grid-area: 3 / 2 ;
}

.buttons-container > button {
    background-color: #ffe81f;
    width: 20em;
    border: #ffe81f;
    border-radius: 5px;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 3em;
    margin-top: 1em;
    box-shadow: 3px 3px grey;
    cursor: pointer;
}

.buttons-container > button:hover {
    animation: shake 0.2s;
}

.buttons-container > button:active {
    background-color: #97890c;
}

.buttons-container > button:nth-child(even) {
    margin-left: 3em;
}

.layout-custom-character-container {
    display:none;
    width: 60vw;
    height: 60vh;
    margin-left: 20vw;
}

.layout-custom-character-container .text-input{
    margin-left: 0em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.layout-custom-character-container > p {
    color: #ff0000;
    background-color: #000000;
    opacity: 80%;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 2em;
    text-align: center;
    grid-area: 2 / 1 ;
    position: relative;
    width: 20vw;
    left: 20vw;
    padding: 0.2em;
    border: 5px solid #ffe81f;
    border-radius: 15px;
    display: none;
}

.layout-custom-character-container .text-input-container{
    grid-area: 3 / 1;
}

.layout-custom-character-container .buttons-container {
    font-size: 0.5em;
    text-align: center;
    grid-area: 4 / 1 ;
}

.layout-custom-character-container > .buttons-container > button:first-of-type {
    margin-top: 3em;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@media (max-width: 1776px) {
    .buttons-container{
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .buttons-container > button:nth-child(even) {
        margin-left: 0em;
    }
}

@media (max-width: 700px) {
    header {
        text-align:left;
        display: block;
    }

    h1 {
        text-align:left;
        left: 1.9vw;
    }

    h2 {
        text-align:left;
        position:relative;
        left: 2.5vw;
    }

    .layout-grid-container {
        grid-template-columns: 1fr;
    }
    
    .character-information-presenter {
        grid-area: 1 / 1 ;
    }

    .text-input-container {
        grid-area: 2 / 1 ;
    }
    
    .buttons-container {
        grid-area: 3 / 1 ;
    }
    
}

