
h1 {
  color: black;
}

.roll-in-left {
    -webkit-animation: roll-in-left 1.6s ease-out both;
            animation: roll-in-left 1.6s ease-out both;
    height: 20em;
    width: 20em;
    position: absolute;
    left: 90em;
    border-radius: 50%;
    border: 5px solid;
    border-color:#00FF66 ;
}

.blurred-animation {
  animation: blurred 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  height: 20em;
  width: 20em;
  position: absolute;
  left: 90em;
  border-radius: 50%;
  border: 5px solid;
  border-color:#00FF66 ;
}

@keyframes blurred {
  0% {
    transform: translate(0, 0) skew(0deg, 0deg);
    transform-origin: 0% 0%;
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0) skew(0deg, 0deg);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}


  /* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import url(https://fonts.googleapis.com/css?family=sintony);

/* Global */
html{
  min-height: 100%;
  overflow: hidden;
}
body{
  height: calc(100vh - 8em);
  padding: 4em;
  color: #00FF66;
  font-family: 'Anonymous Pro', monospace;  
  background-color: black;  
}
/* Presentational text */

.css-typing p {
  border-right: .15em solid #00FF66;
  font-family: "sintony";
  font-size: 2em;
  white-space: nowrap;
  overflow: hidden;
  left: 5em;
}
.css-typing p:nth-child(1) {
  width: 34em;
  -webkit-animation: type 4s steps(70, end);
  animation: type 4s steps(70, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  position: relative;
}

.css-typing p:nth-child(2) {
  width: 33em;
  opacity: 0;
  -webkit-animation: type2 4s steps(70, end);
  animation: type2 4s steps(70, end);
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  position: relative;
}

.css-typing p:nth-child(3) {
  width: 25em;
  opacity: 0;
  -webkit-animation: type2 4s steps(60, end);
  animation: type2 4s steps(60, end);
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  position: relative;
}

.css-typing p:nth-child(4) {
  width: 30em;
  opacity: 0;
  -webkit-animation: type2 4s steps(70, end);
  animation: type2 4s steps(70, end);
  -webkit-animation-delay: 12s;
  animation-delay: 12s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  position: relative;
}
.css-typing p:nth-child(5) {
  width: 20em;
  opacity: 0;
  -webkit-animation: type2 4s steps(70, end);
  animation: type2 4s steps(70, end);
  -webkit-animation-delay: 16s;
  animation-delay: 16s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  position: relative;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid #00FF66;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid #00FF66;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid #00FF66;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid #00FF66;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}