.body {
    background-color: black;
}

h1 {
  color: black;
}

.roll-in-left {
    -webkit-animation: roll-in-left 10.6s ease-out both;
            animation: roll-in-left 1.6s ease-out both;
    height: 20em;
    width: 20em;
    position: absolute;
    right: 10em;
    border-radius: 50%;
    border: 5px solid;
    border-color:#00FF66 ;
}

@-webkit-keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(10em) rotate(-540deg);
              transform: translateX(10em) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
@keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(10em) rotate(-540deg);
              transform: translateX(10em) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }

  /* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
html{
  min-height: 100%;
  overflow: hidden;
}
body{
  height: calc(100vh - 8em);
  padding: 4em;
  color: #00FF66;
  font-family: 'Anonymous Pro', monospace;  
  background-color: rgb(25,25,25);  
}
.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 8em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: #00FF66;}
  to{border-right-color: transparent;}
}

.presentationalText {
  position: absolute;
  top: 10em;
  right: 20em;
}