
h1 {
  color: black;
}

.roll-in-left {
    -webkit-animation: roll-in-left 1.6s ease-out both;
            animation: roll-in-left 1.6s ease-out both;
    height: 20em;
    width: 20em;
    position: absolute;
    left: 90em;
    border-radius: 50%;
    border: 5px solid;
    border-color:#00FF66 ;
}

@-webkit-keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(10em) rotate(-540deg);
              transform: translateX(10em) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
@keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(10em) rotate(-540deg);
              transform: translateX(10em) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }

  /* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
html{
  min-height: 100%;
  overflow: hidden;
}
body{
  height: calc(100vh - 8em);
  padding: 4em;
  color: #00FF66;
  font-family: 'Anonymous Pro', monospace;  
  background-color: black;  
}
/* Presentational text */

.css-typing p {
  border-right: .15em solid #00FF66;
  font-family: "Courier";
  font-size: 1.5em;
  white-space: nowrap;
  overflow: hidden;
}
.css-typing p:nth-child(1) {
  width: 52em;
  -webkit-animation: type 4s steps(40, end);
  animation: type 4s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  position: relative;
}

.css-typing p:nth-child(2) {
  width: 48em;
  opacity: 0;
  -webkit-animation: type2 4s steps(70, end);
  animation: type2 4s steps(70, end);
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  position: relative;
}

.css-typing p:nth-child(3) {
  width: 35em;
  opacity: 0;
  -webkit-animation: type2 4s steps(40, end);
  animation: type2 4s steps(40, end);
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  position: relative;
}

.css-typing p:nth-child(4) {
  width: 42em;
  opacity: 0;
  -webkit-animation: type2 4s steps(40, end);
  animation: type2 4s steps(40, end);
  -webkit-animation-delay: 12s;
  animation-delay: 12s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  position: relative;
}
.css-typing p:nth-child(5) {
  width: 30em;
  opacity: 0;
  -webkit-animation: type2 4s steps(40, end);
  animation: type2 4s steps(40, end);
  -webkit-animation-delay: 16s;
  animation-delay: 16s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  position: relative;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid #00FF66;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid #00FF66;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid #00FF66;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid #00FF66;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}