div {
    background-color: black;
    margin: auto;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    position: absolute;
}

div div {
    position: fixed;
    background-color: white;
    left: 45%;
    top: 45%;
    width: 10%;
    height: 10%;
}

p {
    position: relative;
    background-color: green;
    top: 24em;
    left: 47.5%;
    width: 5%;
    height: 300em;
}