header {
    border-bottom: solid 3px black;
    padding-left: 1em;
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(255,255,255,1) 18%, rgba(0,212,255,1) 40%, rgba(2,0,36,1) 100%);
    
}

main > p {
    width: 40vw; 
    text-align: left; 
    margin: auto; 
    position: relative; 
    padding-top: 10em; 
    padding-bottom: 10em; 
    z-index: -1;
}

h1 {
    font-size: 3.5em;
}

main > h2 {
    width: 70vw; 
    text-align: left; 
    margin: auto; 
    position: relative; 
    padding-top: 8em; 
    padding-bottom: 2em; 
    z-index: -1;
}

.headerpicture {
    width: 2em;
    float: left;
    padding-right: 0.5em;
}

body {
    margin: 0px;
}

footer {
    border-top: 3px solid grey;
    height: 10vw;
}

a {
    text-decoration: none;
    text-decoration-color: black;
}

a:link, a:active, a:visited {
    text-decoration-color: black;
}

.footerelementcontainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 2em;
    padding-left: 5em;
    padding-right: 5em;
}

.footerelementcontainer > :nth-child(2) {
    text-align: right;
}

@media (min-width: 1001px){
    .navflexcontainer {
        position: fixed;
        z-index: 101;
        top: 3em;
        right:  0em;
        display: flex;
        font-size: 2em;
        flex-direction: row;
    }
    
    .navflexcontainer > div {
        flex: 1 1 10em;
        font-family: sans-serif;
        text-emphasis: none;
        text-align: center;
        width: 6.5em;
    }
    
    .navflexcontainer > div > a {
        border: solid 1px black;
        background-color: lightgray;
        padding: 0.2em;
    }

    .productcard > img {
        width: 100px;
        height: 150px;
    }
}

@media (max-width: 500px){
    .footerelementcontainer > div > p {
        text-align: center;
    }

    .footerelementcontainer {
        display: grid;
        grid-template-columns: 1fr;
    }
}


@media (max-width: 1000px){
    body {
        font-size: 0.5em;
    }

    .navbuttons {
        position: fixed;
        left: 5vw;
        top: 80vh;
        font-size: 3em;
    }

    .navbuttons > label {
        border: 1px solid black;
        border-radius: 100%;
        padding: 1em;
        background-color: lightgray;
    }

    .navbuttons > input[type="checkbox"] {
        display: none;
    }

    .navflexcontainer > * {
        display: none;
    }

    .navbuttons > :checked + label {
        background-color: aquamarine;
    }

    #navbuttonone:checked ~ .navflexcontainer {
        position: relative;
        left: 15vw;
        bottom: 15vh;
    }
    
    #navbuttonone:checked ~ .navflexcontainer > div {
        left: 15vw;
        display: flex;
        flex-direction: column;
        bottom: 15vh;
    }

    #navbuttonone:checked ~ .navflexcontainer > div a{
        flex-direction: column;
        border: 1px solid black;
        border-radius: 100%;
        padding: 1em;
        background-color: lightgray;
        z-index: 80;
    }

    .productcard > img {
        width: 100px;
        height: 100px;
    }
}


@media (orientation: landscape) {
    #navbuttonone:checked ~ .navflexcontainer {
        left: 0vw;
        bottom: 45vh;
    }

}

.productcardgrid {
    width: 70vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    padding-bottom: 6em;
}

.productcard {
    
    margin: 0.5em;
    padding: 0.4em;
    background-color: #f9f9f9;
}

.productcard:hover {
    background-color: grey;
    color: black;
}

.productinfocontainer {
    padding: 2px 16px;
    font-size: 1.5em;
}

.priceproductcard {
    text-align: center;
    color: lightslategray;
}

.productcard:hover .priceproductcard {
    color: black;
}

.productdescription {
    font-size: 0.8em;
}