header {
    border-bottom: solid 3px black;
    padding-left: 1em;
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(255,255,255,1) 18%, rgba(0,212,255,1) 40%, rgba(2,0,36,1) 100%);
    
}

img {
    image-orientation: from-image;
}

main > p {
    width: 40vw; 
    text-align: left; 
    margin: auto; 
    position: relative; 
    padding-top: 10em; 
    padding-bottom: 10em; 
    z-index: -1;
}

h1 {
    font-size: 3.5em;
}

main > section > h2 {
    width: 70vw; 
    text-align: left; 
    margin: auto; 
    position: relative; 
    padding-top: 8em; 
    padding-bottom: 2em; 
    z-index: -1;
}

.headerpicture {
    width: 2em;
    float: left;
    padding-right: 0.5em;
}

body {
    margin: 0px;
}

footer {
    border-top: 3px solid grey;
    background-color: lightgray;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color:black;
}

a:active {
    color:blue;
}

.footerelementcontainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 2em;
    padding-left: 5em;
    padding-right: 5em;
}

.footerelementcontainer > :nth-child(2) {
    text-align: right;
}

.imgcloseup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 90vh;
    margin: auto;
    overflow: auto;
    z-index: 221;
}

.backgroundfillerclass{
    background-color: black;
    width: 100vw;
    height: 100vh;
    top: 0em;
    bottom: 0em;
    display: none;
    position: fixed;
    z-index: 220;
    opacity: 80%;
}

@media (min-width: 1001px){
    .navflexcontainer {
        position: fixed;
        z-index: 101;
        top: 3em;
        right:  0em;
        display: flex;
        font-size: 2em;
        flex-direction: row;
    }
    
    .navflexcontainer > div {
        flex: 1 1 10em;
        font-family: sans-serif;
        text-emphasis: none;
        text-align: center;
        width: 6.5em;
    }
    
    .navflexcontainer > div > a {
        border: solid 1px black;
        background-color: lightgray;
        padding: 0.2em;
    }

    .productcard  img {
        width: 100%;
        height: 150px;
    }

    .productcard .imgcloseup {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 100%;
        margin: auto;
        overflow: auto;
        z-index: 221;
    }
    
}

@media (max-width: 365px){
    main > section > h2 {
        padding-top: 10em; 
    }
}

@media (max-width: 500px){
    .footerelementcontainer > div > p {
        text-align: center;
    }

    .footerelementcontainer {
        display: grid;
        grid-template-columns: 1fr;
    }
}


@media (max-width: 1000px){
    body {
        font-size: 0.5em;
    }

    .navbuttons {
        position: fixed;
        left: 5vw;
        top: 80vh;
        font-size: 2em;
        z-index: 101;
    }

    .navbuttons > label {
        border: 1px solid black;
        border-radius: 100%;
        padding: 1em;
        background-color: lightgray;
    }

    .navbuttons > input[type="checkbox"] {
        display: none;
    }

    .navflexcontainer > * {
        display: none;
    }

    .navbuttons > :checked + label {
        background-color: rgba(0,212,255,1);
    }

    #navbuttonone:checked ~ .navflexcontainer {
        position: relative;
        left: 15vw;
        bottom: 15vh;
    }
    
    #navbuttonone:checked ~ .navflexcontainer > div {
        left: 15vw;
        display: flex;
        flex-direction: column;
        bottom: 15vh;
    }

    #navbuttonone:checked ~ .navflexcontainer > div a{
        flex-direction: column;
        border: 1px solid black;
        border-radius: 100%;
        padding: 1em;
        background-color: lightgray;
    }

    .productcard  img {
        width: 100%;
        height: 100px;
    }

    .productcard .imgcloseup {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 100%;
        margin: auto;
        overflow: auto;
        z-index: 221;
    }

    html {

        -webkit-tap-highlight-color: rgba(0,0,0,0);
      }
}

@media (orientation: landscape) {
    #navbuttonone:checked ~ .navflexcontainer {
        left: 10vw;
        top: -40vh
    }

}

@media (max-width: 1000px) and (min-width: 550px) and (max-height: 1000px) and (min-height: 815px){
    #navbuttonone:checked ~ .navflexcontainer {
        left: 0vw;
        top: -25vh
    }
}

.productcardgrid {
    width: 70vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    padding-bottom: 6em;
}

.productcard {
    margin: 0.5em;
    margin-bottom: 1em;
    background-color: #f9f9f9;
}

.productcard:hover {
    background-color: grey;
    color: black;
}

.productinfocontainer {
    padding: 2px 16px;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.productinfocontainer > h4{
    font-size: 1em;
    height: 2em;
}

.priceproductcard {
    text-align: center;
    color: lightslategray;
    margin-top: 0em;
    margin-bottom: 0em;
}

.productcard:hover .priceproductcard {
    color: black;
}

.productdescription {
    font-size: 0.8em;
    border-top: 1px solid black;
    position: relative;
    height: 6em;
    bottom: 0em;
    padding-top: 1em;
}

.productcard button {
    border: none;
    outline: 0;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    height: 3em;
    position: relative;
    bottom: -1.2em;
}

.imgcloseupinformation {
    width: 100vw;
    text-align: center;
    position: fixed;
    margin: 0em;
    height: auto;
    bottom: 40vh;
    z-index: 222;
    font-size: 2em;
    background-color: black;
    color: white;
    opacity: 80%;
    padding-top: 1em;
    padding-bottom: 1em;
    left: 0em;
    bottom: 0em;
}

.productcard .exitcrossout {
    width: 3em;
    height: 3em;
    position: fixed;
    top: 10vh;
    right: 10vw;
    z-index: 222;
}

.productcard .imgcloseupcontainer {
    display: none;
}



